# HELLO

## I'm Ayomide Victoria;
I'm 15 years old; In ss2; And currently learning Data Science

WHY DATA SCIENCE

- Data science is applicable in different industries, and it's helping to solve problems and discover more about the universe. In the health industry, data science helps doctors to make use of past data in making decisions, for example, diagnosis, or the right treatment for a disease. The education sector is not left out, you can now predict students dropping out of school, all thanks to data science

WHY PYTHON FOR DATA SCIENCE

- Python is easy to learn, in part, because it’s a high-level programming language. It's closer to spoken human languages than the binary language that machines operate in. While you’ll need to memorize a dozen or so reserved syntax words and formats, Python is written in English, allowing anyone to guess what a few lines of code do without having to run the program.

# DAY 1;

.Orientation on data science

# DAY 2

## .How to download apps on the desktop

## .Introduction to Python

- What version of Python are we using

In [3]:
import sys
print(sys.version)

3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

- Writing comments in Python

In [2]:
# THIS LINE HAS BEEN COMMENTED
print('hello, python')

hello, python

 - Errors in Python

In [4]:
# Print string as error message
print("Ayo")
frint("Hello, Python!")

Ayo

NameError: name 'frint' is not defined

- Types of objects in python

In [5]:
# Integer
111111

111111

In [6]:
# Float
5.6

5.6

In [7]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

In [8]:
type (4.8) # to get the type of an expression

float

- Converting from one object type to a different object type

In [10]:
# verify that this is an integer
type(2)

int

In [15]:
#convert integer 2 to a float 
float(2)

2.0

- Boolean data type

In [23]:
# Value true
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

In [27]:
# Convert True to int
int(True)

1

In [25]:
# Convert True to int
int(False)

0

- Strings

In [30]:
#Use quotation marks for defining string
"Michael Jackson"
"Michael Jackson"

'Michael Jackson'

- A string can be a combination of space and digits

In [33]:
# Digitals and spaces in strings
'1 2 3 4 5 6'
'1 2 3 4 5 6'

'1 2 3 4 5 6'

- A string can be a combination of special characters

In [34]:
# special characters in string
'@#2_#]&*^%$'

'@#2_#]&*^%$'

# DAY 3

- Indexing

In [37]:
name="Michael Jackson"
# Print the first element in the string
print(name[0])

M

In [39]:
# print the elemnt on index 6 in the string
print(name[6])

l

In [40]:
# print the elemnt on the 13th in the string
print(name[13])

o

-  Negative Indexing

In [41]:
# print the last element in the string
print(name[-1])

n

In [42]:
#print the first element in the string
print(name[-15])

M

In [43]:
#find the length of string
len( "Michael Jackson")

15

 - Slicing

In [45]:
#Take the slice on variable name with only index 0 to index 3
name[0:4]

'Mich'

In [46]:
#Take the slice on variable name with only index 8 to index 11
name[8:12]

'Jack'

 - Stride

In [49]:
#Get every second element. The elements on index 1,3,5 ....
name[::2]

'McalJcsn'

In [50]:
#Get every second element in the range from index 0 to index 4
name[0:5:2]

'Mca'

- Concatenate Strings

In [53]:
statement = name + " is the best"
statement

'Michael Jackson is the best'

 - String Operations
  #### There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.
#### Let's try with the method upper ; this method converts lower case characters toupper case characters

In [54]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

#### The method replace replaces a segment of the string, i.e. a substring with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed

In [55]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [56]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
name = "Michael Jackson"
name.find('el')

5

In [57]:
 # Find the substring in the string.
name.find('Jack')

8

In [58]:
 # If cannot find the substring in the string the output will be -1
name.find('Jasdfasdasdf')

-1

# DAY 4

- Uploading my files to my github account

- Creating new repositories

*repositories are folders in github

# THANK YOU