## Writing your first python code

## What version of Python are we using

We can ask python directly and obtain the version of python

In [1]:
import sys
print(sys.version)

3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

## Writing comments in Python

It is recommended that you add comments to your code to help others understand
what you were trying to accomplish. This also serve as a reminder to you when you come
back to it weeks or months later

To write comments in python, use the number symbol # before writing your comment.When you run your code, python will ignore everything past the # on a given line

In [2]:
# practice on writing comments
print('hello, python') #This line prints a string

hello, python

 ## Errors in Python

Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is impotant to read error messagescarefully to really understand where you made a mistake and how you may go about correcting it.

In [3]:
# Print string as error message
print("Ayo")
frint("Hello, Python!")

Ayo

NameError: name 'frint' is not defined

In [5]:
print("Hello World!")

Hello World!

## Types of objects in python

Python is an object-oriented language. There are many different types of objects in python. Let's start with the most common object types: strings, integers, and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers(e.g. -1, 0, 100) and floats, which represent real numbers(e.g. 3.14, -42.0).

In [6]:
# Integer
111111

111111

In [7]:
# Float
5.6

5.6

In [8]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

You can get python to tell you the type of an expression by using the built-in type() function. You'll notice tha python refers to integers as  int, floats as  float, and character strings as  str

In [9]:
type (12) # to get the type of an expression

int

## Converting from one object type to a different object type

You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float

In [10]:
# verify that this is an integer
type(2)

int

In [11]:
#convert integer 2 to a float and check its type
type(float(2))

float

In [12]:
# casting 1.1 to integer will result in loss of information
int(1.1)

1

Sometimes, we can have a string that contains a number within it. If this is the case, we can cast thet string that represents a number into an integer using  int():

In [13]:
# Convert a string into an integer with error
int ('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

## Boolean data type

Boolean is another impotant type in Python. An object of type Boolean can take on one of two values: True or False:

In [14]:
# Value true
print(type(True))

print(type(True))

<class 'bool'>
<class 'bool'>

In [15]:
# Value false
False

False

Notice that the value True has an uppercase "T". Thesame is true for False (i.e. you must use the uppercase "F")

In [16]:
# Type o True
type(True)

bool

We can cast boolean objects to other data types. If we cast a boolean with a boolean with a value of True to an integer of float we will get a one. If we cast a booloean with a value of False to an integer or float we will get zero. Similarly, if we cast a 1 Boolean, you get a True. And if we cast a 0 we will get a False

In [17]:
# Type of True
type(True)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float, we will get a one. If we cast a boolean with a value of False to an integer of float, we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0, we will get a False. Let,s give it a try:

In [18]:
# Convert True to int
int(True)
int(False)

0

## What are Strings?

The following example shows a string contained within 2 quotation marks:

In [19]:
#Use quotation marks for defining string
"Michael Jackson"
"Michael Jackson"

'Michael Jackson'

A string can be a combination of space and digits

In [42]:
# Digitals and spaces in strings
'1 2 3 4 5 6'
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can be a combination of special characters

In [21]:
# special characters in string
'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [22]:
# print the string
print("hello")

hello

We can bind or assign a string to another valuable:

In [24]:
# assign string to valuable
name = "Michael Jackson"
name

'Michael Jackson'

# Indexing

It is helpful to think of a string as an ordered sequence. Each element in the
sequence can be accessed using an index represented by the array of numbers:
    
The first index can be accessed as follows:

In [25]:
# Print the first element in the string
print(name[0])

M

In [26]:
# print the elemnt on index 6 in the string
print(name[6])

l

In [27]:
# print the elemnt on the 13th in the string
print(name[13])

o

# Negative Indexing

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [28]:
# print the last element in the string
print(name[-1])

n

The first element can be obtained by index -15:

In [29]:
#print the first element in the string
print(name[-15])

M

We can find the number of characters in a string by using len, short for length

In [30]:
#find the length of string
len( "Michael Jackson")

15

# Slicing

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

In [31]:
#Take the slice on variable name with only index 0 to index 3
name[0:4]

'Mich'

In [33]:
#Take the slice on variable name with only index 8 to index 11
name[8:12]

'Jack'

# Stride

We can also put a stride value as follows, with the '2'indicating that we are selecting every second varriable:

In [34]:
#Get every second element. The elements on index 1,3,5 ....
name[::2]

'McalJcsn'

We can also incorporate slicing with the stride. In case, we the first five elements and then use the stride:

In [35]:
#Get every second element in the range from index 0 to index 4
name[0:5:2]

'Mca'

# Concatenate Strings

We can concanate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [36]:
statement = name + "is the best"

To replicate values of a string we simply multiply the string by the string by the number of times, we would like to replicate it. In this case, the number is three. The result is a new string, and this new stringconsists of three copies of the original string:

In [41]:
#print the string for 3 times
3 * "MichaelJackson "

'MichaelJackson MichaelJackson MichaelJackson '

You can create a new string by setting it to the original variable. Concanated with a new string, the result is a new string that changes from Michael Jackson to "Michael Jackson is the best"

In [39]:
#Concatenate strings
name = "michael Jackson"
name = name + " is the best"
name

'michael Jackson is the best'

# Escape Sequences

Back slashes represent the beginning of escape sequences. Escape sequences
represent strings that may be difficult to input. For example, back slash "n"
represents a new line. The output is given by a new line after the back slash "n" is
encountere

In [43]:
 # New line escape sequence
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [44]:
# New line escape sequence with "t" which represent tab:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

If you want a back slash in your string, use a double back slash:

In [45]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

We can also place an "r" before the string to display the backslash:

In [46]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

## String Operations
There are many string operation methods in Python that can be used to manipulate
the data. We are going to use some basic string operations on the data.

Let's try with the method upper ; this method converts lower case characters to
upper case characters

In [47]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

The method replace replaces a segment of the string, i.e. a substring with a new
string. We input the part of the string we would like to change. The second argument
is what we would like to exchange the segment with, and the result is a new string
with the segment changed

In [48]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [50]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
name = "Michael Jackson"
name.find('el')

5

In [51]:
 # Find the substring in the string.
name.find('Jack')

8

In [52]:
 # If cannot find the substring in the string the output will be -1
name.find('Jasdfasdasdf')

-1

## Quiz on Strings
Create a variable with your name as its values

In [57]:
 #Answer
name="Ayomide Victoria"
name

'Ayomide Victoria'

print out the first three elements from your name:

In [60]:
 name[0:3]

'Ayo'

Use a stride value of 2 to print out every second character of your name variable

In [61]:
name[::2]

'AoieVcoi'

Print out a backslash:

In [64]:
print("Ayomide \\ Victoria")

Ayomide \ Victoria

Convert your name to upper case and store it as a new variable

In [67]:
name.upper()

'AYOMIDE \\ VICTORIA'

Consider the variable g , and find the first index of the sub-string snow :

In [74]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lambIts fleece was white as snow And everywhere that Mary went Mary went, Marywent Everywhere that Mary went The lamb was sure to go"

In [75]:
g.find('snow')

94

In the variable g , replace the sub-string Mary with Bob :

In [76]:
g = g.replace('Mary', 'Bob')
g

'Bob had a little lamb Little lamb, little lamb Bob had a little lambIts fleece was white as snow And everywhere that Bob went Bob went, Bobwent Everywhere that Bob went The lamb was sure to go'

## The last exercise!
Upload this to your git repository